body {
    background-color: aqua;
    font-family: Arial;
    margin: 10px;
}

.container {
    display: flex;
}

.content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    margin: 20px;
}

.header a {
    margin: 1em;
    font-size: large;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links a {
    margin: 1em;
}

.ads img, .gifs img {
    margin: 1em;
    height: 100px;
}