body {
    background-color: aqua;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.images img, .games iframe {
    margin: 25px;
}

.centered-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

a {
    margin: 50px;
}

* {
    font-family: Arial;
    max-width: 100%;
}